@import "tailwindcss";

@theme {
  /* Colors - Neutral */
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  /* Colors - Red */
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --image-gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --image-gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* Fonts */
  --font-noto-sans: "Noto Sans", sans-serif;
}

/* Font Face Definitions */
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/static/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/static/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/static/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    font-family: var(--font-noto-sans);
    color: var(--color-neutral-600);
    background: var(--image-gradient-light);
    width: 100vw;
    min-height: 100vh;
  }
}